<a href="https://colab.research.google.com/github/DanBeta23/ProgramacionBasica-DCCB/blob/main/Tarea_Sesi%C3%B3n_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios de Lectura y Escritura de Archivos

In [8]:
## 1. Escritura de un archivo de texto
lista_de_nombres = ["Dan", "Marley", "Victor", "Max"]

with open("nombres.txt", "w") as archivo:
    for nombre in lista_de_nombres:
        archivo.write(nombre + "\n")

In [10]:
## 2. Lectura de un Archivo de texto
with open("nombres.txt", "r") as archivo:
    nombres = archivo.readlines()

nombres = [nombre.strip() for nombre in nombres]
print(nombres)

['Dan', 'Marley', 'Victor', 'Max']

In [6]:
lista_de_numeros = [6, 4, 24, 76, 23, 5, 1, 30]

with open("numeros.txt", "w") as archivo:
    for numero in lista_de_numeros:
        archivo.write(str(numero) + "\n")

In [7]:
## 3. Lectura y Parseo de Números Enteros:
with open("numeros.txt", "r") as archivo:
    numeros = archivo.readlines()

numeros = [int(numero.strip()) for numero in numeros]
suma = sum(numeros)
print(suma)

169

In [ ]:
## 4. Lectura y Escritura de diccionarios:
estudiantes = []

with open("estudiantes.txt", "r") as archivo:
    for linea in archivo:
        datos = linea.strip().split(',')

        estudiante = {
            "nombre": datos[0],
            "edad": int(datos[1]),
            "calificaciones": [int(calificacion) for calificacion in datos[2:]]
                     }

        estudiantes.append(estudiante)

for estudiante in estudiantes:
    print(estudiante)

In [12]:
## 5. Escritura de un archivo de texto con formato de específico:

empleados = [{"nombre":"Javier Romanos Diaz",
             "edad": 24,
             "salario": 4500},
             {"nombre":"Jose Armando Sanchez Perez del Angel",
             "edad": 36,
             "salario": 1750},
             {"nombre":"Jose Carlos Dianzo Aguilar Montes",
             "edad": 32,
             "salario": 2100}]

with open("empleados.txt", "w") as archivo:
    for empleado in empleados:
        archivo.write(f"{empleado['nombre']},{empleado['edad']},{empleado['salario']}\n")

In [11]:
## 6. Lectura de un archivo de texto con formato específico

empleados = []

with open("empleados.txt", "r") as archivo:
    for linea in archivo:
      datos = linea.strip().split(",")
      empleado = {
            "nombre": datos[0],
            "edad": int(datos[1]),
            "salario": float(datos[2])
        }
      empleados.append(empleado)

print(empleados)

salario_total = 0
for empleado in empleados:
    salario_total += empleado["salario"]

salario_promedio = salario_total / len(empleados)
print(f"El salario promedio es: {salario_promedio}")

[{'nombre': 'Javier Romanos Díaz', 'edad': 24, 'salario': 4500.0}, {'nombre': 'José Armando Sánchez Perez del Ángel', 'edad': 36, 'salario': 1750.0}, {'nombre': 'José Carlos Dianzo Aguilar Montes', 'edad': 32, 'salario': 2100.0}]
El salario promedio es: 2783.3333333333335